body {
  background-color: #ffccd5;
  font-family: "Arial", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-content: center;
  overflow: hidden;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.gallery {
  --d: 30s;
  display: grid;
  place-items: center;
  width: 18.75rem;
  margin: 0 auto;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 0.625rem solid #f2f2f2;
  box-shadow: 0 0 0.25rem #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0 * var(--d));
  --r: 16deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc(-0.14 * var(--d));
  --r: -1deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc(-0.28 * var(--d));
  --r: -19deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc(-0.42 * var(--d));
  --r: 6deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc(-0.56 * var(--d));
  --r: -8deg;
}

.gallery > img:nth-child(6) {
  animation-delay: calc(-0.70 * var(--d));
  --r: 9deg;
}

.gallery > img:nth-child(7) {
  animation-delay: calc(-0.84 * var(--d));
  --r: -3deg;
}

.audio-player {
  background: white;
  border: 0.0625rem solid #acacac;
  width: 100%;
  max-width: 30rem;
  margin: 1.25rem auto;
  padding: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.audio-wrapper {
  display: none;
}

.album-image {
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  margin-right: 0.625rem;
}

.player-controls {
  flex: 1;
}

.player-controls p {
  font-size: 0.875rem;
  margin: 0;
}

.player-controls progress {
  width: 100%;
  height: 0.3125rem;
  -webkit-appearance: none;
  appearance: none;
}

.player-controls progress[value]::-webkit-progress-bar {
  background-color: #f2f2f2;
  border-radius: 0.125rem;
}

.player-controls progress[value]::-webkit-progress-value {
  background-color: #ff3366;
}

.player-controls small {
  display: inline-block;
  width: 2.8125rem;
  text-align: center;
}

#play-btn,
#mute-btn {
  margin-top: 0.625rem;
  margin-right: 0.3125rem;
}

.player-controls .button-group {
  display: flex;
  justify-content: flex-end;
}

.btn-click-me {
  width: 100%;
  max-width: 30rem;
  margin: 1.25rem auto;
  padding: 0.625rem;
  position: relative;
}

.btn-pink {
  background-color: #ff3366;
  border-color: #ff3366;
  color: white;
}

.btn-pink:hover {
  color: white;
  border-color: #ff3366;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%,
  100%,
  20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }

  .gallery {
    --d: 30s;
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 15rem;
    margin: 0 auto;
  }

  .audio-player {
    max-width: 20rem;
    padding: 0.3125rem;
  }

  .album-image {
    width: 4rem;
    height: 4rem;
    margin-right: 0.3125rem;
  }

  .player-controls p {
    font-size: 0.75rem;
  }

  .player-controls small {
    width: 2rem;
  }

  #play-btn,
  #mute-btn {
    margin-top: 0.3125rem;
    margin-right: 0.15625rem;
  }

  .btn-click-me {
    max-width: 20rem;
    padding: 0.3125rem;
    top: 70%;
  }

  .display-5 {
    font-size: 1.5rem;
  }

  .fs-5 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }

  .gallery {
    max-width: 18.75rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 0.75rem;
  }

  .gallery {
    max-width: 15rem;
    margin: 0 auto;
  }
}

.modal-content {
  background-color: #f8dde2;
}
